{% extends "base.html" %}
{% block content %}

<p>Sua origem foi..:  {{ form.origem.value }}    </p>
<p>Seu destino é..:   {{ form.destino.value }}   </p>
<p>Data de Ida é..:   {{ form.data_ida.value }}  </p>
<p>Data de Volta é..: {{ form.data_volta.value }}</p>
<p>Reserva realizada em..: {{ form.data_pesquisa.value }}</p>
<p>Classe escolhida..: {{ form.classe_viagem.value }}</p>
<p>Informações Complementares..: {{ form.informacoes_complementares.value }}</p>
<p>E-Mail do viajante..: {{ pessoa_form.email.value }}</p>

{% endblock %}